@page "/"

<PageTitle>Index</PageTitle>


<br />
<h1>Performance Demo</h1>
<p>The calculations may take 10 seconds or more.</p>
<br />

<button class="btn btn-primary" @onclick="Button_Calculate">Calculate</button>
<hr />

@((MarkupString)CalcTime)

@code
{
    private string CalcTime { get; set; } = string.Empty;

    protected override void OnAfterRender(bool firstRender)
        {
        base.OnAfterRender(firstRender);

        X_.CalcCtlr = new BOCalcCtlr();

        // Instantiate the Business Objects the Calc Ctlr invokes
        X_.BOList = new List<BOBase>();
        X_.BOList.Add(new BOCalc1("BO1-1"));
        X_.BOList.Add(new BOCalc1("BO1-2"));
        X_.BOList.Add(new BOCalc1("BO1-3"));
        X_.BOList.Add(new BOCalc1("BO1-4"));
        X_.BOList.Add(new BOCalc1("BO1-5"));
        X_.BOList.Add(new BOCalc1("BO1-6"));

        // Create the Results Table with columns created and used by each of the BOs
        X_.ResultsTable = new System.Data.DataTable();
        foreach (BOBase bo in X_.BOList) bo.BOInit();
        }

    private async Task Button_Calculate()
        {
        CalcTime = string.Empty;

        for (int i = 1; i <= 5; i++)
            { 
            CalcTime += $"<p>Iteration {i} | Calc Time = {X_.CalcCtlr.CalcRun()}ms </p>";
            }


        } // Button_Delete
}